@{
    ViewData["Title"] = "Dashboard";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row g-4">
    <div class="col-md-3">
        <div class="dashboard-card">
            <h3>120</h3>
            <p>Total Students</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="dashboard-card">
            <h3>45</h3>
            <p>Available Rooms</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="dashboard-card">
            <h3>12</h3>
            <p>Pending Complaints</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="dashboard-card">
            <h3>₹ 52,000</h3>
            <p>Total Payments</p>
        </div>
    </div>
</div>